* {
  box-sizing: border-box;
}

input[type=file] {
  position: absolute;
  right: -9999px;
  visibility: hidden;
  opacity: 0;
}

input[type=submit] {
  position: relative;
  padding: 1rem 3rem;
  background: #0c8fda;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  border: 0;
  color: #fff;
}
input[type=submit]:hover {
  background: #0b7fc2;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all;
}

label {
  position: relative;
  padding: 1rem 3rem;
  background: #eee;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}
label:hover {
  background: #0c8fda;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all;
}

div.files {
  background: #eee;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}
div.files ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow: auto;
}
div.files ul li {
  padding: 0.5rem 0;
  padding-right: 2rem;
  position: relative;
}
div.files ul li i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}
div.container {
  width: 100%;
  padding: 0 2rem;
}

span.file-size {
  color: #999;
  padding-left: 0.5rem;
}